{% extends "login/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
{% if user.is_authenticated %}


  <div class="container">
    <h3>Tapauksia yhteensä: {{taulu.count}}</h3>
    <table id="table_id" class="table table-bordered" >
        <thead class="thead-dark">
          <tr>
            <th>PotilasID</th>
            <th>Päivämäärä</th>
            <th>Sairaanhoitopiiri</th>
            <th>Alkuperämaa</th>
            <th>Tartuttaja</th>
          </tr>
        </thead>
      <tbody>
        {% for x in taulu %}
        <tr>
        <td>{{x.potilasid}}</td>
        <td>{{x.pva}}</td>
        <td>{{x.sairaanhoitopiiri}}</td>
        <td>
          {% if x.alkuperamaa %}
            {{x.alkuperamaa}}
          {% else %}
              Ei Tiedossa
          {% endif %}
        </td>
        <td>
          {% if x.alkupera == "unknown" %}
            Ei Tiedossa
          {% else %}
              {{x.alkupera}}
          {% endif %}
          </td>
          </tr>
          {% endfor %}
      </tbody>


    </table>
  </div>

{% endif %}
{% endblock content %}
